<div class="row">

    <div class="col-sm-8">
        <h2>Departure Board</h2>
        <table id="flight-list" class="table table-responsive table-bordered table-hover active">
            <thead>
                <tr>
                    <th>Flight Number</th>
                    <th>Service Provider</th>
                    <th>Model/Maker</th>
                    <th>Destination</th>
                    <th>Departure Time</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let flight of flightList" (click)="onSelected(flight)">
                    <td> {{flight.flightNo}} </td>
                    <td> {{flight.model}} </td>
                    <td> {{flight.serviceProviderName}} </td>
                    <td> {{flight.destinationCode}} </td>
                    <td> {{flight.departureTime}} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-4">
        <h2>Edit Flight Information</h2>
        <form [ngFormModel]="flightInfoForm" (submit)="onSubmit($event)">
            <div class="form-group">
                <label for="flightNo">Flight Number</label>
                <input class="form-control" id="flightNo" type="text" ngControl="flightNo" #flightNo="ngForm">
                <div *ngIf="flightNo.touched && flightNo.errors">
                    <div class="alert alert-danger" *ngIf="flightNo.errors.invalidCharacters">
                        {{ validationMessage.invalidCharacters}}
                    </div>

                    <div class="alert alert-danger" *ngIf="flightNo.errors.minlength">
                        {{ validationMessage.minlength }}
                    </div>

                    <div class="alert alert-danger" *ngIf="flightNo.errors.cannotContainSpace">
                        {{ validationMessage.cannotContainSpace }}
                    </div>

                    <div class="alert alert-danger" *ngIf="flightNo.errors.required">
                        {{ validationMessage.required }}
                    </div>

                </div>
            </div>

            <div class="form-group">
                <label for="model">Model</label>
                <input class="form-control" id="model" type="text" ngControl="model" #model="ngForm">
                <div *ngIf="model.errors && model.touched">
                    <div class="alert alert-danger" *ngIf="model.errors.required">
                        {{ validationMessage.required }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="serviceProviderName">Service Provider Name</label>
                <select name="serviceProviderName" id="serviceProviderName" class="form-control" ngControl="serviceProviderName" #serviceProviderName="ngForm">
                    <option *ngFor="let serviceProvider of serviceProviders" value="{{serviceProvider}}"> {{serviceProvider}} </option>
                </select>
                <div *ngIf="serviceProviderName.errors && serviceProviderName.touched">
                    <div class="alert alert-danger" *ngIf="serviceProviderName.errors.required">
                        {{ validationMessage.required }}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="destinationCode">Destination Code</label>
                <input class="form-control" id="model" type="destinationCode" ngControl="destinationCode" #destinationCode="ngForm">
                <div *ngIf="destinationCode.errors && destinationCode.touched">
                    <div class="alert alert-danger" *ngIf="destinationCode.errors.required">
                        {{ validationMessage.required }}
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" type="submit" [disabled]="!flightInfoForm.valid">Submit</button>
        </form>
    </div>
</div>
<hr />


<div class="row">

    <div class="col-sm-8">
        <h2>Flight Information</h2>

        <dl class="dl-horizontal">
            <dt>Flight Number</dt>
            <dd class="top-buffer">{{selectedFlight.flightNo}}</dd>

            <dt class="top-buffer">Model/Maker</dt>
            <dd class="top-buffer">{{selectedFlight.model}}</dd>

            <dt class="top-buffer">Service Provider</dt>
            <dd class="top-buffer">{{selectedFlight.serviceProviderName}}</dd>

            <dt class="top-buffer">Destination Code</dt>
            <dd class="top-buffer">{{selectedFlight.destinationCode}}</dd>

            <dt class="top-buffer">Departure time</dt>
            <dd class="top-buffer">{{selectedFlight.departureTime}}</dd>

            <!--<dt class="top-buffer">Economy</dt>
            <dd class="top-buffer">{{selectedFlight.ticketFare.economy}}</dd>

            <dt class="top-buffer">Business</dt>
            <dd class="top-buffer">{{selectedFlight.ticketFare.business}}</dd>

            <dt class="top-buffer">Student</dt>
            <dd class="top-buffer">{{selectedFlight.ticketFare.student}}</dd>-->
        </dl>

    </div>

</div>